<div class="repo-info-container">
  <div class="container-fluid">
    <div class="card card-primary card-outline">
      <div class="card-body row">
        <div class="search-container d-flex col-12 col-md-4">
          <input [(ngModel)]="searchInput.repositoryName" (keypress)="eventButton($event)" placeholder="Repositories name">
          <button (click)="getRepository()"><i class="fas fa-search"></i></button>
          <div class="search-history" *ngIf="searchHistory.length > 0">
            <h5>Recent Searches:</h5>
            <ul>
              <li *ngFor="let item of searchHistory">
                <a (click)="runPastSearch(item)">{{ item.repositoryName }}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="advanced">
          <button class="btn btn-info" type="button">
            <i class="fas fa-plus-circle" style="margin-right: 5px"></i>Add more filter
          </button>
          <div class="filter-type">
            <div class="title">Select filter type</div>
            <div class="list">
              <ng-container *ngFor="let l of advancedFilter">
                <div *ngIf="!l.show" (click)="selectFilterEvent(l, true)"
                     class="d-flex justify-content-between align-content-center">{{l.label}}<i
                  class="fas fa-plus-circle" style="line-height: 1.6; margin-left: 10px"></i></div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="select-filter">
          <ng-container *ngFor="let a of advancedFilter">
            <div class="item" *ngIf="a.type === 'input' && a.show">
              <label>{{a.label}}</label>
              <div class="d-flex align-content-center">
                <input [(ngModel)]="searchInput.owner" (keypress)="eventButton($event)" placeholder="Enter text...">
                <button (click)="selectFilterEvent(a, false)" class="btn btn-danger" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="item d-flex align-content-center" *ngIf="a.type === 'select' && a.show">
              <app-select-template (dataEvent)="receiveSelectEvent($event)"
                                   [placeholder]="'Select language'"
                                   [bindLabel]="'name'" [bindValue]="'name'" [closeOnSelect]="true"
                                   [itemList]="languageList" [item]="searchInput.language" [label]="a.label" [clearable]="true">
              </app-select-template>
              <button (click)="selectFilterEvent(a, false)" class="btn btn-danger" type="button">
                <i class="fas fa-trash"></i>
              </button>
            </div>
            <div class="item" *ngIf="a.type === 'datepicker' && a.show">
              <label>{{a.label}}</label>
              <div class="d-flex align-content-center">
                <div class="date-select">
                  <input type="text" placeholder="Ngày hoàn tất" [(ngModel)]="searchInput.minUpdatedDate"
                         [matDatepicker]="picker1"/>
                  <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </div>
                <button (click)="selectFilterEvent(a, false)" class="btn btn-danger" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="item" *ngIf="a.type === 'slider' && a.show">
              <label>{{a.label}}</label>
              <div class="example-label-container example-label-horizontal">
                <label id="example-name-label" class="example-name-label">Max Value</label>
                <label class="example-value-label" style="margin-left: 5px">{{searchInput.maxSize}}Mb</label>
              </div>
              <mat-slider
                class="example-margin"
                [max]="100"
                [step]="1"
                [thumbLabel]="true"
                [(ngModel)]="searchInput.maxSize"
                aria-labelledby="example-name-label">
              </mat-slider>
              <button (click)="selectFilterEvent(a, false)" class="btn btn-danger" type="button">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="isError">
          <div class="error">
            Please enter at least 1 piece of information
          </div>
        </ng-container>

        <div class="list-item row" *ngIf="dataList.length > 0">
          <div class="list-item-inner col-12 col-md-6 col-xl-4" *ngFor="let d of dataList">
            <div class="item card bg-light" (click)="openDetail(d)">
              <div class="title d-flex">
                <div class="avatar"><img src="{{d.owner.avatar_url}}" alt=""></div>
                <h5 class="m-0">{{d.name}}</h5>
              </div>
              <span>{{d.description}}</span>
              <div class="other d-flex">
                <span *ngIf="d.language">{{d.language}}</span>
                <span><i class="fas fa-star"></i>{{d.stargazers_count}}</span>
                <span *ngIf="d.pushed_at">Updated on {{d.pushed_at | datetime}}</span>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="isLoading">
          <div class="loading">
            <i class="fas fa-spinner"></i>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
