.repo-info-container {
  padding: 0.8rem 0.5rem;

  .card {
    .card-body {
      .search-container {
        position: relative;
        margin-bottom: 0.8rem;

        button {
          outline: none;
          border: none;
          position: absolute;
          right: 9px;
          height: 100%;
          background: none;
          border-left: 2px solid #dbdbdb;
          padding: 0 15px;
        }

        .search-history {
          display: none;
          position: absolute;
          top: 90%;
          z-index: 100;
          background-color: white;
          box-shadow: 0 1px 3px #acacac;
          border-radius: 5px;
          padding: 10px;
          white-space: nowrap;

          h5 {
            border-bottom: 1px solid #cfcccc;
          }

          ul {
            padding: 0 0 5px 0;
            margin-bottom: 0;

            li {
              list-style-type: none;
              cursor: pointer;
              border-bottom: 1px solid #cfcccc;
              padding: 5px;
            }
          }
        }

        &:hover {
          .search-history {
            display: block;
          }
        }
      }

      .advanced {
        position: relative;
        width: fit-content;

        button {
          width: fit-content;
          line-height: 1;
          height: 35px;
          margin-bottom: 0.8rem;
        }

        .filter-type {
          display: none;
          position: absolute;
          top: 90%;
          z-index: 100;
          background-color: white;
          box-shadow: 0 1px 3px #acacac;
          border-radius: 5px;
          padding: 10px;
          white-space: nowrap;

          .title {
            text-align: center;
            border-bottom: 1px solid black;
            margin: 0 -10px 5px;
            padding: 0 5px 5px;
          }

          .list {
            div {
              cursor: pointer;
            }
          }
        }

        &:hover {
          .filter-type {
            display: block;
          }
        }
      }

      .select-filter {
        .item {
          margin-bottom: 0.8rem;

          button {
            margin-left: 5px;
            margin-top: auto;
          }

          input {
            width: fit-content;
          }
        }
      }

      .list-item {
        margin-top: 1rem;

        .list-item-inner {
          margin-bottom: 1rem;
        }

        .item {
          cursor: pointer;
          border: 1px solid #e7e7e7;
          border-radius: 10px;
          padding: 10px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title {
            align-items: center;
            margin-bottom: 0.3rem;

            .avatar {
              width: 40px;
              border-radius: 50%;
              margin-right: 10px;
              overflow: hidden;
              border: 1px solid gray;
              padding: 1px;

              img {
                width: 100%;
              }
            }
          }

          span {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .other {
            margin-top: 0.4rem;
            font-weight: bold;
            font-size: 13px;

            span {
              margin-right: 1rem;
            }
          }
        }
      }

      .loading {
        i {
          font-size: 2rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: rotate 2.5s linear infinite;
        }
      }

      .error {
        color: red;
      }
    }
  }

  input {
    padding: 4px 55px 4px 10px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    width: 100%;
    outline: none;
  }
}

@media only screen and (max-width: 767px) {
  .repo-info-container {
    .card {
      .card-body {
        .advanced {
          margin-right: 7.5px;
          margin-left: 7.5px;
        }

        .list-item {
          padding-right: 0;
          margin-right: 0;

          .item {
            font-size: 13px;

            .other {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
