<div class="repo-info-container">
  <div class="search-container d-flex">
    <input [(ngModel)]="this.repositoryName" (keypress)="eventButton($event)">
    <button (click)="getRepository()">Click</button>
    <div class="filter">
      <button>Advanced Search</button>
      <div class="main" *ngFor="let a of advancedFilter">
        <div class="item">
          <label>{{a.label}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="list-item" *ngFor="let d of dataList">
      <div class="item">
        <div class="title d-flex">
          <div class="avatar"><img src="{{d.owner.avatar_url}}" alt=""></div>
          <h5 class="m-0">{{d.owner.login}}</h5>
        </div>
        <span>{{d.description}}</span>
        <div class="other d-flex">
          <span *ngIf="d.language">{{d.language}}</span>
          <span><i class="fas fa-star"></i>{{(d.stargazers_count ?? 0)}}</span>
          <span *ngIf="d.pushed_at">Updated on {{d.pushed_at | datetime}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
