<div class="repo-info-container">
  <div class="search-container d-flex">
    <input [(ngModel)]="repositoryName" (keypress)="eventButton($event)">
    <button (click)="getRepository()">Click</button>
    <div class="filter">
      <button>Advanced Search</button>
    </div>
  </div>

  <div class="main" *ngFor="let a of advancedFilter">
    <div class="item" *ngIf="a.type === 'input'">
      <label>{{a.label}}</label>
      <input [(ngModel)]="owner" (keypress)="eventButton($event)">
    </div>
    <div class="item" *ngIf="a.type === 'select'" >
      <app-select-template (dataEvent)="receiveSelectEvent($event, 'language')"
                           [bindLabel]="'name'" [bindValue]="'name'" [closeOnSelect]="true"
                           [itemList]="languageList" [item]="language" [label]="a.label" [clearable]="true">
      </app-select-template>
    </div>
  </div>

  <div class="main">
    <div class="list-item" *ngFor="let d of dataList">
      <div class="item">
        <div class="title d-flex">
          <div class="avatar"><img src="{{d.owner.avatar_url}}" alt=""></div>
          <h5 class="m-0">{{d.name}}</h5>
        </div>
        <span>{{d.description}}</span>
        <div class="other d-flex">
          <span *ngIf="d.language">{{d.language}}</span>
          <span><i class="fas fa-star"></i>{{(d.stargazers_count ?? 0)}}</span>
          <span *ngIf="d.pushed_at">Updated on {{d.pushed_at | datetime}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
